$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

table.mormuvid-table-clickable tbody tr {
    cursor:pointer;
}
