<p>
    {{#link-to 'songs.new' class="btn btn-primary" role='button'}}Add New Song »{{/link-to}}
</p>

<table class="table table-hover table-condensed mormuvid-table-clickable">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {{#each controller.arrangedContent}}
        <tr {{action 'clickSong' this}}>
            <td>{{this.artist}}</td>
            <td>{{this.title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
