<h3>New Song</h3>
<form>
    <div class="form-group">
        <label for="inputArtist">Artist</label>
        {{input type="text" value=artist class="form-control" id="inputArtist" placeholder="e.g. PSY"}}
    </div>
    <div class="form-group">
        <label for="inputTitle">Title</label>
        {{input type="text" value=title class="form-control" id="inputTitle" placeholder="e.g. Gangnam Style"}}
    </div>
    <div class="form-group">
        <label for="inputVideoURL">Video URL (Optional)</label>
        {{input type="text" value=inputVideoURL class="form-control" id="inputVideoURL" placeholder="e.g. https://www.youtube.com/watch?v=9bZkp7q19f0"}}
    </div>
    <button class="btn" onclick="window.history.back()">Cancel</button>
    <button {{action "addSong"}} class="btn btn-primary">Add Song</button>
</form>
