<html>
<head>
<style type="text/css">

table.collection-list {
  border-collapse: collapse;
  width: 800px;
  border: 1px solid #AAA;
  font-family: "Helvetica Neue", Helvetica, arial;
  cursor: pointer;
}

table.collection-list thead {
    border-bottom: 1px solid #C9C9C9;
    font-weight: bold;
}

table.collection-list tr:nth-child(even) {
  background: #EBF0FF;
}

table.collection-list tr.selected {
  color: #FFF;
  background: #678BE4;
}

table.collection-list tr td {
  padding: 10px 20px;
  border-right: 1px solid #AAA;
}

</style>
<script type="text/javascript" src="vendor/underscore-1.7.0.js"></script>
<script type="text/javascript" src="vendor/jquery-1.11.1.js"></script>
<script type="text/javascript" src="vendor/jquery-ui-1.10.2.js"></script>
<script type="text/javascript" src="vendor/backbone-1.1.2.js"></script>
<script type="text/javascript" src="vendor/backbone.courier-0.5.7.js"></script>
<script type="text/javascript" src="vendor/backbone.collectionView-0.11.4.js"></script>
<script type="text/javascript" src="mormuvid.js"></script>
<script type="text/template" id="tpl-song">
    <td><%= artist %></td>
    <td><%= title %></td>
    <td><%= status %></td>
</script>
</head>
<body>
<h1>mormuvid</h1>
<h2>songs</h2>
<table id="main-songs-table" class="">
<thead>
<tr>
    <td>Artist</td>
    <td>Title</td>
    <td>Status</td>
</tr>
</thead>
<tbody><!-- should be populated by backbone --></tbody>
</table>
</body>
</html>