<dl>
  <dt>Artist</dt><dd>{{artist}}</dd>
  <dt>Title</dt><dd>{{title}}</dd>
  <dt>Status</dt><dd>{{status}}</dd>
  <dt>Video URL</dt><dd>{{videoURL}}</dd>
</dl>

<button class="btn" onclick="window.history.back()">Back</button>
{{#link-to 'song.edit' class='btn btn-primary' role='button'}}Edit{{/link-to}}
{{#link-to 'song.delete' class='btn btn-danger' role='button'}}Delete{{/link-to}}
