<div class="jumbotron">
    <h1>Welcome to mormuvid</h1>
    <p>... bringing you <b>mor</b>e <b>mu</b>sic and more <b>vid</b>eos!</p>
    <p>Perhaps you'd like to start with the {{#link-to 'songs'}}songs{{/link-to}}? Or download some {{#link-to 'videos'}}other videos{{/link-to}}?</p>
</div>
